* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#button-div {
  display: flex;
  justify-content: center;
}

#get-poke {
  margin: 0;
  margin-top: 80px;
  border-radius: 20px;
  background-color: #7cd2ef;
  color: #fff;
  border-width: 2px;
  border-color: #fff;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.43);
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}

#get-poke:hover {
  transform: scale(1.05);
  background-color: aquamarine;
}

#poke-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 50px;
}

.card {
  background-color: #fff;
  padding: 10px;
  width: 230px;
  height: 330px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.43);
  transition: all 0.5s ease-in-out;
  font-family: "Nunito Sans", serif;
}

.card:hover {
  transform: scale(1.05);
}

#card-inner {
  width: 80%;
  height: 60%;
  margin: auto;
}

#poke-image-container {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  margin-top: 20px;
  padding: 10px;
}

#poke-image {
  width: 100%;
  height: 100%;
}

#poke-id {
  font-weight: 800;
  color: #919191;
  font-size: smaller;
  margin-left: 10px;
  margin-bottom: 0;
}

#poke-name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 7px;
}

.poke-type {
  width: 50%;
  border-radius: 5px;
  text-align: center;
  color: white;
}

#type-name {
  font-weight: 400;
}

.bug {
  background-color: #729f3f;
}

.fighting {
  background-color: #d56723;
}

.fire {
  background-color: #fd7d24;
}

.normal {
  background-color: #919191;
}

.water {
  background-color: #4592c4;
}

.grass {
  background-color: #9bcc50;
  color: black;
}

.psychic {
  background-color: #f366b9;
}

.ground {
  background: linear-gradient(
    to bottom,
    #f7de3f 0%,
    #f7de3f 50%,
    #ab9842 50%,
    #ab9842 50%
  );
  color: black;
}

.dragon {
  background: linear-gradient(
    to bottom,
    #53a4cf 0%,
    #53a4cf 50%,
    #f16e57 50%,
    #f16e57 50%
  );
}

.electric {
  background-color: #eed535;
  color: black;
}

.dark {
  background-color: #707070;
}

.rock {
  background-color: #a38c21;
}

.poison {
  background-color: #b97fc9;
}

.ice {
  background-color: #51c4e7;
}

.fairy {
  background-color: #fdb9e9;
}

.flying {
  background: linear-gradient(
    to bottom,
    #3dc7ef 0%,
    #3dc7ef 50%,
    #bdb9b8 50%,
    #bdb9b8 50%
  );
  color: black;
}

.ghost {
  background-color: #7b62a3;
}
